<div class="page-header">
  <h1>Orders</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>E-mail</th>
      <th>Show more</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.name %></th>
      <th><%= order.address %></th>
      <th><%= order.email %></th>
      <th><%= link_to 'Show more', order %></th>
      <th><%= link_to 'Remove', order, method: :delete, data: {confirm: 'Are you sure?'} %></th>
    </tr>
  <% end %>
  </tbody>
</table>
