<% if notice %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="col-md-3"></div>
<div class="col-md-5">
  <table class="table">
    <thead>
        <tr>
          <th class="cell">Title</th>
          <th class="cell">Quantity</th>
          <th class="cell">Price</th>
          <th class="cell">Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @cart.line_items.each do |line_item| %>
        <tr>
          <th scope="row"  class="cell"><%= line_item.product.title %></th>
          <th class="cell"><%= line_item.quantity %></th>
          <th class="cell"><%= number_to_currency line_item.product.price %></th>
          <th class="cell">
            <%= link_to plus_label, line_items_path(product_id: line_item.product), method: :post %>
            <%= link_to minus_label, line_item, method: :delete, data: {confirm: 'Are you sure?'} %>
          </th>
        </tr>
    <% end %>
    </tbody>
  </table>
  <p class="total_price">Total price: <%= number_to_currency total_price %></p>
  <hr>
  <p class="order"><%= link_to 'Make an order', new_order_path, class: 'make_order' %></p>
</div>