<% if notice %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="page-header">
  <h1><%= @product.title %></h1>
</div>

<div class="row">
  <div class="col-md-2 image_product">
    <%= image_tag(@product.image_url, alt: @product.title, class: 'image') %>
  </div>
  <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
          <%= @product.description %>
        </div>
      </div>
      <div class="col-md-2 price">Price: <span class="price-number"><%= number_to_currency @product.price %></span></div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-11"></div>
  <div class="col-md-1">
    <%= link_to 'Edit', edit_product_path(@product) if session[:user_id]%> |
    <%= link_to 'Back', store_path %>
  </div>
</div>